@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  font-family: "Source Sans Pro" !important;
  color: #3d3d3d;
}

body {
  margin: 0;
  font-family: "Archivo" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1 !important;
}

.side-image {
  height: calc(100vh - 90px);
  width: 50vw;
}

.react-typewriter-text-wrap {
  display: inline !important;
}

.react-typewriter-text-wrap h1 {
  display: inline !important;
  color: #06b2b0;
  font-size: 45px;
  line-height: 1.3em;
  font-weight: bold;
}

.iPyzLq {
  font-weight: bold;
  font-size: 1.3em;
  background-color: #06b2b0 !important;
}

.cSyxMg {
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .side-image {
    display: none;
  }
}
